body {
    background-color: white;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

 header {
    display: flex;
    background-color:orange;
    height: 250px;
}

.topBox {
    position: relative;
    top: 20%;

    background-color: darkorange;
    left: 10%;
    width: 150px;
    height: 150px;
}